
APP_SUBDOMAIN="website"
APP_GIT_REPO_URL="https://github.com/fuz-re/website.git"
CT_HOSTNAME="${APP_SUBDOMAIN}.fuz.re"

SETUP_PLAYBOOK=provision_for_static_website.yml
DEPLOY_PLAYBOOK=deploy_static_website.yml

# Buildup the variables to be passed to Ansible
# TODO find a means of getting this done automatically:

VARS=""
VARS="${VARS} APP_SUBDOMAIN=${APP_SUBDOMAIN}"
VARS="${VARS} CT_HOSTNAME=${CT_HOSTNAME}"
VARS="${VARS} APP_GIT_REPO_URL=${APP_GIT_REPO_URL}"
